@import "tailwindcss";

@font-face {
    font-family:"pricedown";
    src: url("/pricedown.otf");
}

html,body {
    width: 100%;
    height: 100%;
    font-family:"pricedown";
}

/* .animated-gradient {
  background: linear-gradient(270deg, #000000, #1a1a40, #ff0080, #ff8c00);
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
